[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/usr/bin/kube-controller-manager \
  --allocate-node-cidrs=false \
  --cluster-name={{ cluster_info.cluster_name }} \
  --leader-elect=true \
  --master=http://{{ansible_default_ipv4.address}}:8080 \
  --root-ca-file={{ pki_info.cert_path }}/ca.pem \
  --service-account-private-key-file={{ pki_info.cert_path }}/{{ pki_info.cert_name }}-key.pem \
  --service-cluster-ip-range={{ cluster_info.service_network_cidr }} \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
